/*Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
/* Mulish */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Quicksand:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Quicksand', sans-serif;
    font-display: optional;
}

.active a{
    color: #6D28D9!important;
}

