@{
    ViewBag.Title = "Create";
    ViewBag.Heading = "Add New Details";
}

<!-- New vaccine details entry form-->
<div class="container p-3">
    <div class="card">
        <div class="card-body">
            <!-- Entry form -->
            @using (Html.BeginForm("", "", FormMethod.Post))
            {
                <!-- Employee name-->
                <div class="form-group row mb-4">
                    <label for="Name" class="col-sm-4 col-form-label font-weight-bold">
                        Employee's Name
                        <span class="text-danger h6">*</span>
                    </label>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" placeholder="Enter your name">
                    </div>
                </div>

                <!-- Employee age-->
                <div class="form-group row mb-4">
                    <label for="Age" class="col-sm-4 col-form-label font-weight-bold">
                        Employee's Age
                        <span class="text-danger h6">*</span>
                    </label>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" placeholder="Enter your age">
                    </div>
                </div>
            
                <!-- Employee gender -->
                <div class="form-group row mb-4">
                    <label class="col-form-label col-sm-4 font-weight-bold">
                        Gender
                        <span class="text-danger h6">*</span>
                    </label>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7">
                        <input type="radio" name="gender" value="male"/><span class="ml-1 mr-2">Male</span>
                        <input type="radio" name="gender" value="female"/><span class="ml-1">Female</span>
                    </div>
                </div>

                <!-- Vaccine type -->
                <div class="from-group row mb-4 ">
                    <label class="col-form-label col-sm-4 font-weight-bold">
                        Vaccine Manufacturer   
                        <span class="text-danger h6">*</span>
                    </label>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7">
                        <select name="vaccine_manufacturer" class="form-control">
                            <option selected disabled>Select manufacturer</option>
                            <option value="covaxin">Bharat Biotech - covaxin</option>
                            <option value="covishield">Serum Institute Of India - covishield</option>
                        </select>
                    </div>
                </div>
             
                <!-- Vaccine description -->
                <div class="form-group row mb-4">
                    <label class="col-form-label col-sm-4 font-weight-bold">
                        Description
                    </label>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="3" placeholder="vaccine description .."></textarea>
                    </div>
                </div>
             
                <!--Tcs / Non TCS -->
                <div class="form-group row mb-4">
                    <label class="col-form-label col-sm-4 font-weight-bold">
                        Tcs/Non-Tcs
                        <span class="text-danger h6">*</span>
                    </label>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7">
                        <input type="radio" name="gender" value="tcs" /><span class="ml-1 mr-2">Tcs</span>
                        <input type="radio" name="gender" value="non_tcs" /><span class="ml-1">Non-Tcs</span>
                    </div>
                </div>
             
                <!-- Cowin ID --> 
                <div class="form-group row mb-5">
                    <label class="col-form-label col-sm-4 font-weight-bold">
                        Cowin ID
                        <span class="text-danger h6">*</span>
                    </label>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7">
                        <input type="text" name="cowin_id" class="form-control" placeholder="Enter your cowin id"/>
                    </div>
                </div>
                
                <!-- Button group -->
                <div class="container d-flex align-items-center justify-content-center mt-4">
                    <button type="button" class="submit-btn mr-3">Submit</button>
                    <button type="button" class="clear-btn">Clear</button>
                </div>   
             }
        </div>
    </div>
</div>


<!-- Local stylesheet -->
<style>
    .card{
        border: none;
    }
    .card-body{
        padding: 35px 40px;
    }
    .submit-btn, .clear-btn {
        border: none;
        font-family: 'Quicksand', sans-serif;
        border-radius: 0;
        padding: 8px 30px;
        box-shadow: 3px 3px 3px #D1D5DB;
        transition: all .3s;
    }
 
    .submit-btn:active,
    .clear-btn:active {
        box-shadow: none;
        outline: none;
    }

    .submit-btn {
        background: #4F46E5;
        color: #fff;
    }
    .clear-btn {
        border: 1px solid #4F46E5;
        background: #fff;
        color: #4F46E5;
    }
    .clear-btn:hover {
        color: #fff;
        background: #4F46E5;
        text-shadow: none;
    }
    .submit-btn:hover{
        background: #4F46E5;
        color: #fff;
    }
    .form-control:focus {
        box-shadow: none;
        border: 1px solid #4F46E5;
    }
</style>

